html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 10pt;
	overflow: hidden;
	background-color: black;
	width: 100%;
	height: 100%;
}

#heading {
	/*position: absolute;*/
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #71b87b;
	text-align: center;
}
#heading h1 {
	margin: 0;
	padding: 6px 0;
	background-color: #64a36d;
	font-size: 16px;
}
#heading a {
	color: #4488ff;
}

.meter {
	/*height: 20px;*/
	/*width: 100px;*/
	height: 20px;
	position: relative;
	background: #000;
}

.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: green;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5) inset;
}

.menu {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 400px;
	/*height: 300px;*/
	transform: translateX(-50%) translateY(-50%);
	border-radius: 8px;
	padding: 24px;
	display:none;
	background: #111;
	/*background-image: url(../play/images/roof.jpg);*/
	color: white;
}

.menu_title {
	font-size: 24px;
	border-bottom: solid 2px #333;
}

.menu_item {
	position: relative;
	margin-top: 16px;
	padding: 16px;
	display:block;
	text-align: center;
	border: solid 2px #222;
	border-radius: 4px;
	background: #151515;
}

.menu_item_half {
	display:inline-block;
	width: 40%;
	text-align: center;
}

.menu_item:nth-child(1) {
	margin-top: 0;
}

#selection_outliner {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: -6px;
	border: 6px solid #E92;
	border-radius: 6px;
	pointer-events: none;
	z-index: 100;
}
