body {
	background-color: black;
	width: 100%;
	height: 100%;
}

#loading {
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 100;	
}

#loading_dialog {
	transform: translateX(-50%) translateY(-50%);
	position:absolute;
	left: 50%;
	top: 50%;
	max-width: 400px;
	min-width: 80%;
}

#loading_message {
	color: white;
	font-size: 40px;
	text-align: center;
}

#loading_bar {
	max-width: 600px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	margin: auto;
}

#loading_bar_value {
	height: 20%;
	top: 50%;
	background-color: #E92;
	width: 0;
}

#loading_pill {
	top: 0;
	left: 0;
	position:absolute;
	height: 100%;
	transform: scaleX(-1) ;
}

#viewport {
	position: relative;
	margin: 0 auto;
}

#menus {
	/*color: white;
	background: black;
	font-size: 30px;
	height: 36px;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 100px; left: 0; right: 0;
	z-index: 500;*/
	display:none;
}

.paused #menus {
	display:block;
}



#scores {
	width: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	margin: 20px;
	border-color: #999;
}

.teamName {
	clear: both;
	float: left;
}

.teamScore {
	float: right;
}


#players {
	position: absolute;
	bottom: 0;
}

.hudPanel {
	border: 2px solid black;
	border-radius: 4px;
	padding: 6px;
	background-color: black;
	color: white;
}

.player {
	float: left;
	min-width: 130px;
	margin: 0 0 10px 10px;
}

/*.fullHud .player {
	width: 200px;
	margin: 0 0 20px 20px;
}*/

.playerIcon {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 4px 4px 0;
	border: 2px solid black;
	border-radius: 4px;
}

.playerName {
	float:left;
	/*height: 25px;*/
}

.playerWeapon {
	float:left;
	/*text-align: center;*/
	/*height: 25px;*/
}

.playerWeapon img {
	margin-right 2px;
	border: solid 1px white;
	border-radius: 2px;
	vertical-align: middle;
}

.playerHealth {
	clear: both;	
	height: 8px;
	/*margin: 10px;*/
	padding: 2px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 8px;
}

.playerHealthBar {
	border-radius: 4px;
}

.playerWeaponRest[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 60px;
	height: 5px;
	float:left;
}

th {
	text-align: left;
}


#playerScores {
	width: 100%;
	padding: 0;
	margin-top: 8px;
	clear: both;
}

td.playerKillsColumn, td.playerDeathsColumn, th.playerScoreColumn {
	width: 32px;
	text-align: right;
}

th.playerKillsColumn, th.playerDeathsColumn, td.playerScoreColumn {
	width: 32px;
	text-align: right;
}

.playerScore .playerKillsColumn {
	color: #CCFF99;
}

.playerScore .playerDeathsColumn {
	color: #FFCC99;
}

.playerScore .playerScoreColumn {
	color: #FFF;
}
