#page {
	/*background-image: url(../images/menu_background.jpg);*/
	background-size: 100%;
	width: 100%;
	height: 100%;
}

#main_menu {

}

input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
	vertical-align: middle;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	/*border: 1px solid #999;*/
	height: 20px;
	width: 10px;
}


.menu_item_value {
	margin: 0 8px;
}
.menu_item_value_display {
	padding: 0 4px;
	border: 1px solid #999;
	font-size: 12px;
}

img.pillphoto {
	position:absolute;
	max-height: 500px;
	transform: translateY(-2000px);
}

img.pillphoto.enter_animate {
    -webkit-animation: pill_enter_animate 500ms; /* Chrome, Safari, Opera */
	transform: translateY(0px);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pill_enter_animate {
    from {transform: translateY(-2000px);}
    to {transform: translateY(0px);}
}

#welcome_menu {
	text-align: center;
	font-size: 24px;
}

img.inText {
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

#playerpicker {
	position:relative;
	/*height: 200px;*/
	margin: 16px 0;
	padding: 16px;
	border-radius: 4px;
	border: 1px solid #eee;
}

.playerpick {
	/*display:block;*/
	width: 64px;
	position:relative;
	background-color: #666;
	transform: translateX(-50%);
	border-radius: 32px;
}

#playerpick_ready_message {
	visibility: hidden;
	text-align: center;
}
